<div class="articleItemContainer sLine">
    <div class="articleItemLink">
        <% if post.user.image.attached? %>
            <%= image_tag post.user.image, class: "imgAuthor", alt: "Author:#{post.user.nickname}" %> 
        <% else %>
            <%= image_tag "default.png", class: "imgAuthor", alt: "Author:#{post.user.nickname}" %>
        <% end %>
        <h3 class="postTitle">
            <% if current_user.already_watched?(post) %>
                <%= link_to "#{post.title}", post_path(post), method: :get  %>
            <% else %>
                <%= link_to "#{post.title}", post_views_path(post), method: :post %>
            <% end %>
        </h3>
    </div>
    <ul class="evaluationLs flexContainer">
        <li><i class="far fa-thumbs-up"></i>&nbsp;<%= post.likes.count %></li>
        <li><i class="far fa-comment"></i>&nbsp;<%= post.comments.count %></li>
        <li><i class="far fa-eye"></i>&nbsp;<%= post.views.count %></li>
    </ul>
    <div class="rowItem flexContainer">
        <time class="cdt" datetime="<%= post.created_at.strftime("%FT%T%z") %>"><i class="far fa-clock"></i>&nbsp;<%= post.created_at.strftime("%a, %d %b %Y %X %Z") %></time>
        <time class="udt" datetime="<%= post.updated_at.strftime("%FT%T%z") %>"><i class="fas fa-history"></i>&nbsp;<%= post.updated_at.strftime("%a, %d %b %Y %X %Z") %></time>
        <div class="eb-btn">
        <% if post.user_id == current_user.id %>
            <%= link_to edit_post_path(post), method: :get, class: "e-btn" do %>
                <i class="far fa-edit"></i>&nbsp;Edit
            <% end %>
            <%= link_to post_path(post), method: :delete, class: "d-btn", data: {confirm: "Do you delete? Once deleted, it cannot be restored. Title: #{post.title}"} do %>
                <i class="far fa-trash-alt"></i>&nbsp;Delete
            <% end %>
        <% end %>
        </div>
    </div>
</div>