<head>
    <title>Jowan - <%= @user.nickname %></title>
</head>
<body>
    <div id="show" class="big--bg">
        <header class="big__pageHeader">
            <h1><a href="/"><%= image_tag "logo.png", class: "big__pageHeader__imgLogo", alt: "Jowan" %></a></h1>
            <nav>
                <% if user_signed_in? %>
                    <ul class="big__pageHeader__mainNav">
                        <li><a href="/posts/new"><i class="far fa-plus-square"></i>&nbsp;POST</a></li>
                        <li><a href="/posts"><i class="far fa-newspaper"></i>&nbsp;Articles</a></li>
                        <li><a href="/users/sign_out" data-method="delete"><i class="fas fa-sign-out-alt"></i>&nbsp;LogOut</a></li>
                    </ul>
                <% else %>
                    <ul class="big__pageHeader__mainNav">
                        <li><%= link_to new_user_session_path, method: :get do %><i class="fas fa-sign-in-alt"></i>&nsp;SignIn<% end %></li>
                        <li><%= link_to new_user_registration_path, method: :get do %><i class="fas fa-user-plus"></i>&nbsp;SignUp<% end %></li>
                    </ul>
                <% end %>
            </nav>
        </header>
        <div class="big__pageContent wrapper">
            <h2 class="big__pageContent__pageTitle">My Page</h2>
        </div>
    </div>
    <div class="showUserProfile--flex wrapper">
        <aside class="showUserProfile__info">
            <% if @user.image.attached? %>
                <%= image_tag @user.image, class: "showUserProfile__info__avatar", alt: "User:#{@user.nickname}" %>
            <% else %>
                <%= image_tag "default.png", class: "showUserProfile__info__avatar", alt: "User:#{@user.nickname}" %>
            <% end %>
            <h3 class="showUserProfile__info__fullName sLine">
                <%= @user.nickname %><br>
                <% if user_signed_in? && current_user.id == @user.id %>
                    <%= link_to edit_user_registration_path, method: :get do %>
                        <span class="userSettingBtn"><i class="fas fa-user-edit"></i>&nbsp;Edit</span>
                    <% end %>
                <% end %>
            </h3>
            <div class="showUserProfile__info__bio sLine">
                <% if @user.bio.present? %>
                    <%= simple_format @user.bio %>
                <% else %>
                    <p>No bio yet.</p>
                <% end %>
            </div>
            <div class="showUserProfile__info__popularArticles">
                <h3 class="headTitle"><i class="far fa-star"></i>&nbsp;Popular Articles by <%= @user.nickname %></h3>
                <% if @my_articles_best.present? %>
                    <% @my_articles_best.each do |post| %>
                        <div class="showUserProfile__info__popularArticles__container flexContainer">
                            <span class="showUserProfile__info__popularArticles__container__like">
                                <i class="far fa-thumbs-up"></i>&nbsp;<%= post.likes.count %>

                            <div class="showUserProfile__info__popularArticles__container__currencyPair">
                                <%= image_tag "#{post.currency_pair[0, 3]}.png", class: "currency", alt:"#{post.currency_pair[0, 3]}" %>
                                <%= image_tag "#{post.currency_pair[3, 6]}.png", class: "marginCurrency", alt: "#{post.currency_pair[3, 6]}" %>
                            </div>
                            
                            </span>
                            <div>
                                <h4 class="showUserProfile__info__popularArticles__container__postTitle">
                                    <% if current_user.already_watched?(post) %>
                                        <a href="/posts/<%= post.id %>"><%= post.title %></a>
                                    <% else %>
                                        <a href="/posts/#{post.id}/views" data-method="post"><%= post.title %></a>
                                    <% end %>
                                </h4>
                                <time class="showUserProfile__info__popularArticles__container__cdt" datetime="<%= post.created_at.strftime("%FT%T%z") %>"><i class="far fa-clock"></i>&nbsp;<%= post.created_at.strftime("%a, %d %b %Y %X %Z") %></time>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <p>No best articles yet.</p>
                <% end %>
            </div>
        </aside>
        <section class="showUserProfile__articles">
            
            <div class="showUserProfile__articles__portfolio flexContainer">
                <% if @my_articles_portfolio.present? %>
                    <% @my_articles_portfolio.each do |k, v| %>
                        <%= link_to search_posts_path(params: {:q => {currency_pair_eq: k, user_nickname_eq: @user.nickname}}), method: :get, class: "showUserProfile__articles__portfolio__allotment", style: "width: #{v}%; background: rgba(#{@r_color_range.sample}, #{@g_color_range.sample}, #{@b_color_range.sample}, 0.5);" do %>
                            <span class="allotmentRate"><%= v.round(2) %>%</span>
                            <div class="showUserProfile__articles__portfolio__allotment__hiddenField flexContainer">
                                <div class="currencyPairFixBox">
                                    <%= image_tag "#{k[0, 3]}.png", class: "currency", alt: "#{k[0, 3]}" %>
                                    <%= image_tag "#{k[3, 6]}.png", class: "marginCurrency", alt: "#{k[3, 6]}" %>
                                </div>
                                <p class="currencyPair"><%= k %></p>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            
            <input id="myArticles" type="radio" checked="checked" name="show" style="display: none; !important" />
            <input id="commentedArticles" type="radio" name="show" style="display: none !important;" />
            <input id="likedArticles" type="radio" name="show" style="display: none !important;" />
            
            <ul class="showUserProfile__articles__ls">
                <li class="myArticles">
                    <label for="myArticles">
                        <i class="fas fa-user-edit"></i>&nbsp;My Articles
                        <span class="articlesCount"><%= @my_articles.count %>&nbsp;articles</span>
                    </label>
                </li>
                <li class="commentedArticles">
                    <label for="commentedArticles">
                        <i class="fas fa-thumbs-up"></i>&nbsp;Liked Articles
                        <span class="articlesCount"><%= @commented_articles.count %>&nbsp;articles</span>
                    </label>
                    
                </li>
                <li class="likedArticles">
                    <label for="likedArticles">
                        <i class="fas fa-comment"></i>&nbsp;Commented Articles
                        <span class="articlesCount"><%= @liked_articles.count %>&nbsp;articles</span>
                    </label>
                    
                </li>
            </ul>
            
            <div id="div--hidden" class="showUserProfile__articles__myArticles">
                <% @my_articles.each do |post| %>
                    <%= render partial: "user_articles", locals: {post: post} %>
                <% end %>
            </div>
            
            <div id="div--hidden" class="showUserProfile__articles__commentedArticles">
                <!--<%= paginate @commented_articles %>-->
                <% @commented_articles.each do |post| %>
                    <%= render partial: "user_articles", locals: {post: post} %>
                <% end %>
                <!--<%= paginate @commented_articles %>-->
            </div>
            
            <div id="div--hidden" class="showUserProfile__articles__likedArticles">
                <!--<%= paginate @liked_articles %>-->
                <% @liked_articles.each do |post| %>
                    <%= render partial: "user_articles", locals: {post: post} %>
                <% end %>
                <!--<%= paginate @liked_articles %>-->
            </div>
            
        </section>
    </div>
    <%= render 'commons/footer' %>
</body>
