<div class="articleContainer">
    <div class="articleContainer__leftItem">
        <% if post.user.image.attached? %>
            <%= image_tag post.user.image, class: "articleContainer__img-author", alt: "Author:#{post.user.nickname}", onmousedown: "return false;", title: "Author: #{post.user.nickname}", oncontextmenu: "return false;", onselectstart: "return false;" %>
        <% else %>
            <%= image_tag "default.png", class: "articleContainer__img-author", alt: "Author:#{post.user.nickname}", onmousedown: "return false;", title: "Author: #{post.user.nickname}", oncontextmenu: "return false;", onselectstart: "return false;" %>
        <% end %>
        <div class ="articleContainer__ccyPair">
            <%= image_tag "ccy_img/#{post.currency_pair[0, 3]}.png", class: "articleContainer__ccyPair__ccy", alt: "#{post.currency_pair[0, 3]}", title: "ccyPair: #{post.currency_pair}", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
            <%= image_tag "ccy_img/#{post.currency_pair[3, 6]}.png", class: "articleContainer__ccyPair__ccy-margin", alt: "#{post.currency_pair[3, 6]}", title: "ccyPair: #{post.currency_pair}", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
        </div>
    </div>
    <div class="articleContainer__rightItem">
        <div class="articleContainer__trItem">
            <cite class="articleContainer__name-author">
                <%= link_to "#{post.user.nickname}", user_path(post.user), method: :get, rel: "author", title: "Author: #{post.user.nickname}" %>
            </cite>
            <time class="articleContainer__posted-datetime" datetime="<%= post.created_at.strftime('%F%T%z') %>">
                <i class="far fa-clock"></i>&nbsp;<%= post.created_at.strftime('%a, %d %b %Y %X %Z') %>
            </time>
            <% if @ten_minutes_ago < post.created_at %>
                <span class="articleContainer__new">NEW</span>
            <% end %>
        </div>
        <% if (user_signed_in?) && (current_user.already_watched?(post)) || !(user_signed_in?) %>
            <h3 class="articleContainer__postTitle"><%= link_to "#{post.title}", post_path(post.id), method: :get, title: "#{post.title}" %></h3>
        <% else %>
            <h3 class="articleContainer__postTitle"><%= link_to "#{post.title}", post_views_path(post.id), method: :post, title: "#{post.title}" %></h3>
        <% end %>
        <ul class="articleContainer__evaluation">
            <li><i class="far fa-thumbs-up"></i>&nbsp;<%= post.likes.count %></li>
            <li><i class="far fa-comment"></i>&nbsp;<%= post.comments.count %></li>
            <li><i class="far fa-eye"></i>&nbsp;<%= post.views.count %></li>
        </ul>
    </div>
</div>