<div id="comment-g" class="comment-area">
    <header class="comment-area__header">
        <p class="comment-area__header__title"><i class="fas fa-comment"></i>&nbsp;Comment</p>
        <p class="comment-area__header__comment-count">
            <% if @post.comments.count == 1 || @post.comments.count == 0 %>
                <%= @post.comments.count %>&nbsp;comment
            <% else %>
                <%= @post.comments.count %>&nbsp;comments
            <% end %>
        </p>
    </header>
    <% if user_signed_in? && @comments.present? %>
        <p class="comment-area__notes"><i class="fas fa-exclamation-triangle"></i>&nbsp;Inappropriate comments may be deleted.&nbsp;Please be careful.</p>
        <% @comments.each do |comment| %>
            <div class="comment-area__comment-wrap">
                <div class="comment-are__comment-wrap__rowItem">
                    <% if comment.user.image.attached? %>
                        <%= link_to search_posts_path(params: {:q => {user_nickname_eq: "#{comment.user.nickname}"}}), method: :post do %>
                            <%= image_tag comment.user.image, class: "comment-area__comment-wrap__user-avatar", alt: "User: #{comment.user.nickname}", title: "User: #{comment.user.nickname}", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
                        <% end %>
                    <% else %>
                        <%= link_to search_posts_path(params: {:q => {user_nickname_eq: "#{comment.user.nickname}"}}), method: :post do %>
                            <%= image_tag "default.png", class: "comment-area__comment-wrap__user-avatar", alt: "User: #{comment.user.nickname}", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
                        <% end %>
                    <% end %>
                    <%= link_to "#{comment.user.nickname}", search_posts_path(params: {:q => {user_nickname_eq: "#{comment.user.nickname}"}}), method: :post, class: "comment-area__comment-wrap__user-name" %>
                    <div class="comment-area__comment-wrap__sideItem">
                        <time class="comment-area__comment-wrap__timestamp" datetime="<%= comment.created_at.strftime('%FT%R%z') %>"><i class="far fa-clock"></i>&nbsp;<%= comment.created_at.strftime('%F %T') %></time>
                        <%= button_tag(type: "button", class: "comment-area__comment-wrap__report-btn") do %>
                            <a href="mailto:jowan-jp@gmail.com?subject=Inappropriate comment#<%= comment.id %>&body=Please enter the content."><i class="fas fa-exclamation-circle"></i>&nbsp;Report</a>
                        <% end %>
                    </div>
                </div>
                <div class="comment-area__comment-wrap__comment-body">
                    <%= simple_format comment.text %>
                </div>
                <% if current_user.id == comment.user.id %>
                    <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, data: {confirm: "Do you delete? It cannot be restored."}, class: "comment-area__comment-wrap__delete-btn" do %>
                        <i class="far fa-trash-alt"></i>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% elsif user_signed_in? %>
        <p class="comment-area__notes"><i class="fas fa-exclamation-triangle"></i>&nbsp;Inappropriate comments may be deleted.&nbsp;Please be careful.</p>
    <% else %>
        <%= image_tag "comment-form.png", class: "comment-area__comment-wrap__bg", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
        <p class="comment-area__comment-wrap__user-signed-in">
            Need to signin to see comments.<br>
            Click here -> <%= link_to new_user_session_path, method: :get do %><i class="fas fa-sign-in-alt"></i>&nbsp;SignIn<% end %>
        </p>
    <% end %>
    <div class="comment-area__commentForm">
        
        <% if user_signed_in? && current_user.image.attached? %>
            <%= image_tag current_user.image, class: "comment-area__commentForm__user-avatar", title: "User: #{current_user.nickname}", alt: "User: #{current_user.nickname}", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
        <% elsif user_signed_in? %>
            <%= image_tag "default.png", class: "comment-area__commentForm__user-avatar", title: "User: #{current_user.nickname}", alt: "User: #{current_user.nickname}", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
        <% else %>
            <%= image_tag "default.png", class: "comment-area__commentForm__user-avatar", title: "Guest", alt: "Guest", onmousedown: "return false;", oncontextmenu: "return false;", onselectstart: "return false;" %>
        <% end %>
        
        <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
            <%= label_tag :text, "Send your comment", class: "comment-area__commentForm__label" %>
            
            <% if user_signed_in? && !(@post.comments.exists?(user_id: current_user.id)) %>
                <%= text_area_tag :text, '', placeholder: "Add your comment", class: "comment-area__commentForm__textarea" %>
                <%= button_tag(type: "submit", class: "comment-area__commentForm__submit-btn") do %>
                    Send
                <% end %>
            <% elsif user_signed_in? && @post.comments.exists?(user_id: current_user.id) %>
                <p class="comment-area__commentForm__block">
                    <i class="fas fa-exclamation-triangle"></i>&nbsp;You have already commented on this article.&nbsp;You can create it again if you delete it.
                </p>
            <% else %>
                <p class="comment-area__commentForm__guest">
                    Need to signin to post your comment.<br>
                    Click here -> <%= link_to new_user_session_path, method: :get do %><i class="fas fa-sign-in-alt"></i>&nbsp;SignIn<% end %>
                </p>
            <% end %>
            
        <% end %>
    </div>
</div>