<%= form_with(model: post, local: true, class: "editor-form") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><i class="fas fa-exclamation-triangle"></i>&nbsp;<%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="post_title"></label>
    <%= form.text_field :title, class: "post-title", placeholder: "Title", autofocus: true %>
  </div>
  
  <div class="field">
    <label for="post_currency_pair" class="caret-down"></label>
    <%= form.select :currency_pair, ["USDJPY", "GBPJPY", "EURJPY", "AUDJPY", "NZDJPY", "CADJPY", "CHFJPY", "HKDJPY", "ZARJPY", "GBPUSD", "EURUSD", "AUDUSD", "NZDUSD"], :prompt => "Select Currency Pair" %>
  </div>
  
  <div class="field">
    <label for="post_content"></label>
    <%= form.rich_text_area :content %>
  </div>
  
  <div class="actions">
    <%= button_tag(type: "submit") do %>
     <i class="far fa-plus-square"></i>&nbsp;Create
    <% end %>
  </div>
<% end %>