<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
    <div class="article-container">
        <div class="currency-pair">
            <h3><%= post.currency_pair %></h3>
            <%= image_tag "#{post.currency_pair[0, 3]}.png", class: "currency", alt: "#{post.currency_pair[0, 3]}" %>
            <%= image_tag "#{post.currency_pair[3, 6]}.png", class: "margin-currency", alt: "#{post.currency_pair[3, 6]}" %>
        </div>
        <div class="article-title">
            <% if current_user.already_watched?(post) %>
                <h2><%= link_to "#{post.title}", post_path(post), method: :get %></h2>
            <% else %>
                <h2><%= link_to "#{post.title}", "/posts/#{post.id}/views", method: :post %></h2>
            <% end %>
            <time datetime="<%= DateTime.parse(post.updated_at.to_s) %>"><span>🖊</span><%= post.updated_at.strftime("%a, %d %b %Y %X %Z") %></time>
        </div>
        <ul class="evaluation-box">
            <% if current_user.already_liked?(post) %>
                <li><%= link_to '👍', post_like_path(post), method: :delete %>: <%= post.likes.count %></li>
                <li><%= link_to '💬', post_path(post), method: :get %>: <%= post.comments.count %></li>
                <li>👁: <%= post.views.count %></li>
            <% else %>
                <li><%= link_to '👍', post_like_path(post), method: :post %>: <%= post.likes.count %></li>
                <li><%= link_to '💬', post_path(post), method: :get %>: <%= post.comments.count %></li>
                <li>👁: <%= post.views.count %></li>
            <% end %>
        </ul>
        <div class="poster-info">
            <% if post.user.image.attached? %>
                <%= image_tag post.user.image, alt: "#{post.user.nickname}", class: "poster-image" %>
            <% else %>
                <%= image_tag "default.png", alt: "#{post.user.nickname}", class: "poster-image" %>
            <% end %>
            <small>Poster: <%= link_to "#{post.user.nickname}", user_path(post.user.id), method: :get %></small>
        </div>
    </div>
<% end %>