<head>
    <title>Jowan - <%= @post.title %></title>
</head>
<body style="background: #F8F8FF">
    <%= render partial: 'commons/page-top', object: @post %>
    <%= render partial: 'commons/article', object: @post, object: @ten_minutes_ago %>
    <%= render partial: 'commons/jowan-ad' %>
    <%= render partial: 'commons/related-articles', object: [@related_articles, @post] %>
    <%= render partial: 'commons/comment-area', object: @post %>
    <%= render partial: 'commons/footer' %>
</body>